<div class="header-bar">
    <!-- <div class="notification text-center">
        <img class="i-bell mt-3" src="assets/images/MDI - bell.svg" alt="">
        <p class="text-notification mt-3">Solicitudes</p>
        <img class="image-dropdown" src="assets/images/Polígono 4.svg" alt="">
    </div> -->
    <div class="profile">
        <!-- <button class="input dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filtros
          </button> -->

        <img class="image-profile " src="assets/images/Foto3.png" alt="">
        <p class="text-name "><strong class="text-italic">Bienvenido,</strong> José Castañeda</p>
        <button class="dropdown" >
            <i class="bi bi-caret-down-fill" ngClass="i-row"></i>
        </button>
        <div class="dropdown-menu menu-profile" aria-labelledby="dropdownMenuButton">
            <div class="row">
                <div class="col-2">
                    <input class="check-filtros" type="checkbox">
                </div>
                <div class="col-8 p-0">
                    <a class="dropdown-item item-filtros">ID Usuario</a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <input class="check-filtros" type="checkbox">
                </div>
                <div class="col-8 p-0">
                    <a class="dropdown-item item-filtros">Nombre</a>
                </div>
            </div>
        </div>
    </div>

        <!-- <div class="col-7 p-0"></div>
        <div class="col-2">
            <div class="row div-notification">
                <p>Solicitudes</p>
            </div>
        </div>
        <div class="col-3 p-0">
            <div class="row">
                <div class="col-md-6 col-lg-0 col-xl-3 p-0"></div>
                <div class="col-md-6 col-lg-2 col-xl-2" style="float:right">
                    <img class="image-profile mt-2" src="assets/images/Foto3.png" alt="">
                </div>
                <div class="col-md-6 col-lg-2 col-xl-7 p-0 text-right">
                    <div class="row">
                        <div class="col-10 p-0">
                            <p class="text-name mt-3"><strong class="text-italic">Hola,</strong> José Castañeda</p>
                        </div>
                        <div class="col-2 p-0">
                            <img class="image-dropdown" src="assets/images/Polígono 4.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

</div>